{% extends "layout.html" %}

{% block body %}

<div class="text-center center">
    <br>
        <h2>Highscores</h2>
    <br>
    <table class="center table-bordered">
        <thead style="background-color: rgba(46, 167, 248, 0.815);">
            <tr>
                <th>Place</th>
                <th>Name</th>
                <th>Score</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody style="background-color: rgba(179, 224, 253, 0.082);">
            {% set i = namespace(value=1) %}
            {% for score in highscores %}
                <tr>
                    <td>{{ i.value }}</td>
                    <td>{{ score[1] }}</td>
                    <td>{{ score[2] }}</td>
                    <td>{{ score[3] }}</td>
                </tr>
                {% set i.value = i.value + 1 %}
            {% endfor %}
        </tbody>    
    </table>

</div>
<br>
{% endblock %}