{% extends "layout.html" %}

{% block body %}  
<div style="background-color:rgba(150, 217, 241, 0.144);">
    <br>
    <h5 class="center text-center">Game overall rating: {{ rating_average[0] }}</h5>

    <br>
    <h6 class="center text-center">Add review:</h6>
    <form action="/reviews" method="post" name="review" onsubmit="return ifEmpty()" class="center text-center">
        <div class="review_input">
            <input autofocus class="center" id="rating" name="rating" placeholder="Rating (1 to 5)" type="text">
        </div>
        <div class="review_input">
            <input class="center" id="name" name="name" placeholder="Name" type="text">
        </div>
        <div class="review_input">
            <input class="center" id="review" name="review" placeholder="Review" type="text" size="200">
        </div>
        <button class="btn btn-primary" type="submit">Add review</button>
    </form>
    
    <br>
    <h5 class="center text-center">All reviews:</h5>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.27.0/feather.min.js" integrity="sha256-xHkYry2yRjy99N8axsS5UL/xLHghksrFOGKm9HvFZIs=" crossorigin="anonymous"></script>
        <div class="container">
        <div class="row">
            {% for review in reviews %}
            <div class="col-lg-6">
                <div class="card m-b-30">
                    <div class="card-body py-4">
                        <div class="row">
                            <div class="col-lg-3 text-center">
                                <img src="static/garfield-small.jpg" class="img-fluid mb-3" alt="user" />
                            </div>
                            <div class="col-lg-9">
                                <table class="table table-borderless mb-0">
                                    <tbody>
                                        <tr>
                                            <th scope="row" class="p-1">Rating: </th>
                                            <td class="p-1">{{ review[1] }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="p-1">Name:</th>
                                            <td class="p-1">{{ review[2] }} </td>
                                        </tr>                                    
                                        <tr>
                                            <th scope="row" class="p-1">Review: </th>
                                            <td class="p-1">{{ review[3] }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="p-1">Time: </th>
                                            <td class="p-1">{{ review[4] }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <form action="/remove" method="post" name="remove">
                                    <input type="hidden" id="remove" name="remove" type="number" value="{{ review[0] }}">
                                    <br><button type="submit" class="btn btn-primary-rgba">Remove review</button>
                                </form>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
    {% endfor %}
        </div>
        </div> 
</div>
{% endblock %}